@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;


.footer {
    width: 100%; 
    min-height: 350px;    
    background-color: #03001D;
    padding: 2rem 0; 
    color: #ffffff;
    clear: both;
    z-index: 4;
    margin-top: 50%;

    @include mq.respond-to(mq.$phone) {
        margin-top: 0%;
    }
    @include mq.respond-to(mq.$large-desktop) {
        margin-top: 44%;
    }
}

.footer-container {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 3rem; 
    max-width: 1200px;
    margin: 5rem auto; 
    padding: 0 2rem; 
    text-align: center;

    @include mq.respond-to(mq.$phone) {
        grid-template-columns: 1fr;  
        gap: 1rem; 
        margin: 2rem auto;
        padding: 1rem; 
      }
}

.footer-logo h3, 
.footer-nav h4, 
.footer-credits h4
.footer-credits p {

    text-align: center;
}

.footer-logo h3, 
.footer-nav h4, 
.footer-credits h4 {
    margin-bottom: 2rem; 
    @include mq.respond-to(mq.$phone) {
        margin-top: 3rem;  
      }
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer-nav li {
    margin-bottom: 0.5rem;
    @include mq.respond-to(mq.$phone) {
        margin-bottom: 0.3rem; 
      } 
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none; 
}

.footer-nav a:hover {
    text-decoration: underline; 
}
