@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;


.bg-welcome {
    width: 100%;
    height: 100vh;
    background: url(../img/bienvenida-fondo.png) no-repeat;
    background-size: cover;
    background-position: center;

    @include mq.respond-to(mq.$phone) {
        height: 56rem;
        width: auto;
    }
}

.sun {
    width: 130px;
    height: 130px;
    right: 18rem;
    padding-top: 1rem;
}

.m1 {
    width: 1600px;
    height: 630px;
    padding-top: 1rem;
    left: -80px;
    overflow: hidden;

    @include mq.respond-to(mq.$phone) {
        width: 1600px;
        height: 680px;
        right: -70rem;
        z-index: 8;
        overflow: hidden;
    }
}

.m2 {
    width: 1600px;
    height: 630px;
    padding-top: 1rem;
    right: -80px;
    overflow: hidden;

    @include mq.respond-to(mq.$phone) {
        width: 1600px;
        height: 680px;
        right: -10rem;
        z-index: 1;
        overflow: hidden;
    }
}

.size-container-text h1 {
    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-md;
    }
}

.size-container-text p {
    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-xs;
    }
}


.m3 {
    width: 1600px;
    height: 630px;
    padding-top: 1rem;
    overflow: hidden;

    @include mq.respond-to(mq.$phone) {
        width: 1600px;
        height: 800px;
        right: -40rem;
        z-index: 2;
        overflow: hidden;
    }
}

.nieve {
    width: 1530px;
    height: auto;
    top: -150px;

    @include mq.respond-to(mq.$phone) {
        width: 1530px;
        height: auto;
        top: -14px;
        z-index: 6;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 1920px;
        height: auto;
        top: -223px;
    }

}



.bg-history {
    background: url(..//img/bg-history.png) no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.mont-history,
.history-snow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}


.snow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
}

.history-santa {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 25%;
    height: auto;
    z-index: 3;

    @include mq.respond-to(mq.$phone) {
        width: auto;
        height: 21rem;
        top: 18rem;
        left: -9rem;
        transform: rotate(356deg);
    }
}

.history-snow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

    @include mq.respond-to(mq.$phone) {
        width: auto;
        height: 67rem;
        top: -9rem;
        left: -30rem;
        z-index: 3;
    }
}

.container-history {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 30%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq.respond-to(mq.$phone) {
        width: 80%;
        top: 70%;
        text-align: start;
        left: 1rem;
    }
}

.history-text {
    padding-top: 10rem;
    margin-left: 1rem;
    text-align: left;

    @include mq.respond-to(mq.$phone) {
        top: 5rem;
        padding-top: 0;
        z-index: 10;
    }
}

.rect {
    background: url(../img/rect.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 580px;
    height: 100%;
    left: 64%;
    z-index: 2;

    @include mq.respond-to(mq.$phone) {
        display: none;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 656px;
        height: 100%;
        left: 66%;
    }
}

.history-text p {
    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-xs;
        text-align: start;
    }
}

.history-text h1 {
    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-xs;
        text-align: start;
    }
}

.features-text {
    width: 50%;
    height: 380px;
    background-color: vars.$clr-main;

    @include mq.respond-to(mq.$phone) {
        width: 80%;
        position: absolute;
        font-size: vars.$fs-xs;
        text-align: center;
        z-index: 10;
        background-color: transparent;
        left: 2rem;
        top: 3rem;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 50%;
        height: 50%;
        background-color: vars.$clr-main;
    }
}

.trees-background {
    background: url(../img/bg-arboles.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 380px;
    margin-left: 50%;

    @include mq.respond-to(mq.$phone) {
        height: 100vh;
        width: 100vh;
        right: -26%;
        z-index: 2;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 50%;
        height: 540px;
    }
}

.features-main-text {
    padding-top: 3.5rem;
    font-size: vars.$fs-xs;
    padding-left: 1.5rem;
}

.features-secondary-text {
    padding-left: 1.5rem;
    padding-top: 3.5rem;
    padding-right: 1.5rem;
    font-size: vars.$fs-xs;

    @include mq.respond-to(mq.$phone) {
        left: 10%;
        position: absolute;
        top: 25%;
    }
}

.goglin-main-text {
    padding-right: 1.5rem;
    padding-top: 5rem;
    font-size: vars.$fs-xs;

    @include mq.respond-to(mq.$phone) {
        left: 3.5rem;
        position: absolute;
        top: -4rem;
    }

}

.goglin-secondary-text {
    padding-left: 1.5rem;
    padding-top: 3.5rem;
    padding-right: 1.5rem;
    font-size: vars.$fs-xs;

    @include mq.respond-to(mq.$phone) {
        left: 2rem;
        position: absolute;
        top: 3rem;
    }
}

.goglin-text {
    width: 50%;
    height: 380px;
    background-color: vars.$clr-main;
    text-align: right;
    margin-left: 50%;

    @include mq.respond-to(mq.$phone) {
        width: 80%;
        left: 1rem;
        top: 3rem;
        z-index: 10;
        background-color: transparent;
        text-align: start;
    }
}

.goglin {
    width: 50%;
    height: 380px;
    background: url(../img/bg-duende.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;

    @include mq.respond-to(mq.$phone) {
        display: none;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 50%;
        height: 540px;
    }
}

.goblin-mobile {
    display: none;

    @include mq.respond-to(mq.$phone) {
        background: url(../img/duende.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 91%;
        height: 84%;
        z-index: 3;
        position: absolute;
        left: 10rem;
        top: 20rem;
    }
}

.sunset-mobile-goglin {
    display: none;

    @include mq.respond-to(mq.$phone) {
        background: url(../img/fondo_con_duende.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100vh;
        height: 100vh;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;

    }
}

.play-bg {
    width: 825px;
    height: auto;
    z-index: 4;
    padding-top: 13%;
    padding-left: 23%;

    @include mq.respond-to(mq.$phone) {
        display: none;
    }

    @include mq.respond-to(mq.$large-desktop) {
        width: 60%;
        height: auto;
        padding-top: 12%;
        padding-left: 19%;
    }
}

.snow-bg {
    background: url(../img/bg-snow.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 4;

    @include mq.respond-to(mq.$phone) {
        display: none;
    }

    @include mq.respond-to(mq.$mini-desktop) {
        width: 100%;
        height: 102vh;
    }
}

.play-container {
    @include mq.respond-to(mq.$phone) {
        background-color: vars.$clr-main;
        height: 100vh;
        width: 100%;
    }
}

.play {
    display: none;

    @include mq.respond-to(mq.$phone) {
        display: block;
        position: absolute;
        height: 100vh;
        width: 90%;
        left: 1.2rem;
        z-index: 4;
    }
}


.logo {
    width: 200px;
    height: auto;
    padding-top: 1.5rem;

    @include mq.respond-to(mq.$phone) {
        width: 100px; // Reduce el tamaño del logo en móviles
    }
}

.mint {
    width: 100%;
    height: 100vh;
    background: url(../img/mint-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;

    @include mq.respond-to(mq.$phone) {}
}

.controls {
    position: absolute;
    left: 42%;
    bottom: 38rem;
    z-index: 2;

    @include mq.respond-to(mq.$phone) {
        position: relative;
        left: auto;
        top: -12rem;
        font-size: vars.$fs-md;
        margin-bottom: 1.5rem;
        z-index: 10;
    }
}

.space-container {
    width: 0%;
}


.space-controls-section {
    position: absolute;
    bottom: 60%;
}

.space-controls {
    position: absolute;
    height: auto;
    padding-left: 4%;
    padding-top: 40%;

    @include mq.respond-to(mq.$phone) {
        display: block;
        padding-top: 10%;
    }
}

.control-info-r {
    background-color: #cc1f1f;
    border-radius: 1rem;
    position: absolute;
    width: 28rem;
    height: 7rem;
    float: right;
    transform: translate(162%, 261%);
    padding: 1rem;
    left: 10%;
    top: 10%;
    text-align: center;


    @include mq.respond-to(mq.$phone) {
        position: relative;
        width: 15rem;
        height: 3rem;
        z-index: 3;
        transform: none;
        top: 0%;
        left: 0%;

    }

    @include mq.respond-to(mq.$large-desktop) {
        float: right;
        transform: translate(195%, 313%);

    }
}

.control-info-y {
    background-color: #d88c05;
    border-radius: 1rem;
    position: absolute;
    width: 30rem;
    height: 7rem;
    transform: translateX(0rem);
    top: -9rem;
    text-align: center;
    padding: 1rem;
    left: 18rem;

    @include mq.respond-to(mq.$phone) {
        position: relative;
        width: 10rem;
        height: 3rem;
        transform: none;
        top: 211%;
        left: -32%;
    }

    @include mq.respond-to(mq.$large-desktop) {
        left: 30rem;
    }
}

.control-info-r p,
.control-info-y p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;

    @include mq.respond-to(mq.$phone) {
        z-index: 11;
    }
}

.enter {
    background: url(../img/enter-btn.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 21rem;
    margin-top: -15rem;
    width: 83rem;
    height: 31rem;

    @include mq.respond-to(mq.$phone) {
        margin-left: -5rem;
        margin-top: 2rem;
        width: 300%;
        height: 300%;
        z-index: 10;
    }

    @include mq.respond-to(mq.$large-desktop) {
        margin-left: 37rem;
    }
}

.space {
    left: 150%;
    top: 70%;
    width: 100rem;
    height: 29rem;
    background: url(../img/space-btn.png);
    background-size: cover;
    background-position: center;

    @include mq.respond-to(mq.$phone) {
        margin-left: 14rem;
        margin-top: -16rem;
        width: 52rem;
        height: 20rem;
        left: -18rem;
        top: 10rem;
        z-index: 10;
    }

    @include mq.respond-to(mq.$large-desktop) {
        left: 296%;
        top: 68%;
    }
}



.bg-items {
    background: url(../img/bg-items.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    top: 46rem;

    @include mq.respond-to(mq.$phone) {
        height: 100vh;
        object-fit: contain;
        top: 0%;
    }
}

.stars-items,
.stars-items-mint,
.stars-items-christmas {
    background: url(../img/stars-items.png) no-repeat;
    background-size: cover;
    background-position: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    margin-top: 0;

    @include mq.respond-to(mq.$phone) {
        height: 100vh;
        object-fit: contain;
        top: 0%;
    }

    @include mq.respond-to(mq.$large-desktop) {
        height: 117%;
        top: 85%;
    }
}

.snow-items,
.snow-items-mint,
.snow-items-christmas {
    background: url(../img/items-snow.png) no-repeat;
    background-size: cover;
    background-position: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
    z-index: 3;
    margin-top: 0;

    @include mq.respond-to(mq.$large-desktop) {
        height: 117%;
        top: 83%;
    }
}

.snow-mobile-items {

        background: url(../img/snow-mobile-items.png) no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: 4;
        margin-top: 0;
    
}

.images-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-top: 21rem;
    margin-left: 7rem;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;
        align-items: center;
    }

    @include mq.respond-to(mq.$large-desktop) {
        margin-top: 34rem;
        margin-left: 24rem;
    }
}

.mint-stick-items {
    background: url(../img/mints-stick-items.png) no-repeat;
    background-size: cover;
    width: 80rem;
    height: 25rem;
    margin-top: 30%;
    margin-left: -5%;
    z-index: 7;
    object-fit: cover;

    @include mq.respond-to(mq.$phone) {
        width: 70vw;
        height: 70vh;
        left: 10%;
        top: -5%;
    }

    @include mq.respond-to(mq.$large-desktop) {
        margin-left: -20%;
    }
}

.christmas-ball-items {
    background: url(../img/chrismas-ball-items.png) no-repeat;
    background-size: cover;
    width: 85rem;
    height: 28rem;
    z-index: 6;
    margin-top: 30%;
    margin-left: 11%;
    object-fit: cover;

    @include mq.respond-to(mq.$phone) {
        width: 343vw;
        height: 158vh;
        left: -228%;
        top: -40%;
        z-index: 6;
        background-size: contain; /* Cambiar a contain para ver si afecta */
        background-position: center;
    }

    @include mq.respond-to(mq.$mini-desktop) {
        margin-left: -6%;
    }
}

.mint-stick {
    @include mq.respond-to(mq.$large-desktop) {
        margin-left: 6%;
    }
}

.text-items {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-top: 54rem;
    margin-left: -8rem;
    padding: 0 2rem;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;
        text-align: start;
        top: -35%;
        margin-left: -17%;
        z-index: 10;
    }

    @include mq.respond-to(mq.$large-desktop) {
        margin-top: 53%;

    }
}


.text-items h3 {
    font-size: vars.$fs-md;
    margin-bottom: 1rem;
    margin-left: 18%;

    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-xs;
    }
}

.text-items p {
    font-size: vars.$fs-xs;
    max-width: 400px;
    line-height: 1.5;
    margin-left: 18%;

    @include mq.respond-to(mq.$phone) {
        font-size: vars.$fs-xxs;
        max-width: 90%;
    }
}

.text-container {
    width: 38%;
    left: 38%;
    bottom: 1%;
    text-align: end;

    @include mq.respond-to(mq.$large-desktop) {
        width: 40%;
        left: 46rem;
        top: 1rem;
    }

    @include mq.respond-to(mq.$mini-desktop) {
        width: 90%;
        left: 22%;
        text-align: start;
        margin-left: -15%;
    }
}