$clr-main: #E0E0E0;
$clr-secondary: #272727;

$ff-main: "Merriweather", serif;
$ff-secondary: Verdana, Geneva, Tahoma, sans-serif;;

$fs-xxs: 1rem; //14px
$fs-xs: 1.7rem; //16px
$fs-md: 3.25rem; //20px
$fs-xl: 5rem; //32px

